<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro Bildergalerie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nerdfonts/2.1.0/css/nerdfonts.css">
    <style>
        body {
            font-family: 'NerdFonts', sans-serif;
            text-align: center;
            background-color: #000;
            color: #fff;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
            margin: 20px;
        }

        .gallery img {
            max-width: 100%;
            height: auto;
            border: 2px solid #fff;
        }

        .search-container {
            margin-bottom: 20px;
        }

        input[type="text"] {
            padding: 10px;
            font-size: 16px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <h1>Astro Bildergalerie <i class="nf nf-astro"></i></h1>
    <div class="search-container">
        <input type="text" id="tagInput" placeholder="Tag eingeben">
        <button onclick="searchImages()"><i class="nf nf-fa-search"></i> Suchen</button>
    </div>
    <div class="gallery" id="imageGallery"></div>
    <script>
        async function fetchImagesByTag(tag) {
            const response = await fetch(`http://localhost:3000/api/getImagesByTag?tag=${tag}`);
            const data = await response.json();
            return data;
        }

        async function searchImages() {
            const tagInput = document.getElementById('tagInput').value.toLowerCase();
            const imageGallery = document.getElementById('imageGallery');
            imageGallery.innerHTML = '';

            const images = await fetchImagesByTag(tagInput);

            images.forEach(bild => {
                const imageElement = document.createElement('img');
                imageElement.src = `src/img/${bild.source}`; // Pfad zu den Bildern
                imageElement.alt = bild.description;
                imageGallery.appendChild(imageElement);
            });
        }
    </script>
</body>

</html>
